.Toolsize{
    width: 6vw;
    height: 6vw;
    font-size: 5vw;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}
.Toolsize2{
    width: 50vw;
}

.container-s {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
    background-color: #5485A0;
    border-radius: 1vw;
  }
  
  .container-s h1 {
    font-size: 4vw;
    color: black;
    font-weight: 900;
  }
  
  .container-s input {
    width: 30vw;
  }
  
  input.cal-input {
    border: 1px solid black;
    background-color: rgba(157, 195, 238, 0.4);
    width: 10vw;
    border-radius: 10px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 2vw;
    color: black;
    font-weight: 900;
  }
  
  .total-buttons {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 2px solid black;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 10px;
    width: 40vw;
    font-size: 2vw;
    margin: 1px;
  }
  
  .number-button {
    margin: 1px;
    width: 10vw;
    height: 5vw;
    font-size: 2vw;
    border-radius: 0.5vw;
  }
  
  footer {
    padding-top: 100px;
    color: black;
  }
  