@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.thai-font{
    font-family: 'Kanit', sans-serif;
}

:root{
    --color1 : #5485A0;
    --color2 : #175793;
}
.header{
    font-size: xx-large;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.content{
    padding: 2rem 5vmin;
}