#note-add {
    margin-bottom: 15px;
  }
  
  .note-box {
    font-size: 14px;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alerts {
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #3c763d;
  }
  
  .panel {
    box-shadow: 2px 2px 4px #ccc;
  }
  
  label {
    font-size: 18px;
  }
  
  .delete {
    font-weight: bold;
    font-size: 22px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    border-style: none;
  }
  
  .delete:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #777777;
  }
  
  .green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  .red {
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  
  .blue {
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  
  .orange {
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  
.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #e74c3c;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    background: #fff;
  }
  
  .note.button:hover {
    color: #838383;
  }
  
  form.create-note {
    position: relative;
    width: 40vw;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #27ae60;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }

@media screen and (max-width: 959px) {
  form.create-note {
    width: 60vw;
  }
}

@media screen and (max-width: 599px) {
  form.create-note {
    width: 80vw;
  }
}
