.header-noti{
    text-align: center;
    font-size: larger;
}
.MuiFilledInput-underline:before{
    border-bottom: 0px !important;
}
.MuiFilledInput-underline:after{
    border-bottom: 2px solid #5485A0 !important;
}
.Noti-box{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}
.topic-noti{
    margin-top: 0;
    font-weight: 700;
    cursor: pointer;
}
.topic-noti:hover{
    color: #5485A0;
}
.content-noti{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.cancle-button:hover{
    opacity: 0.7;
    cursor: pointer;
}