.tool-size {
    font-size: 6vw;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.tool-desc h5 {
    font-size: 3.5vmin;
}

.tool-desc h6 {
    font-size: 2.5vmin;
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 959px) {
    .tool-size {
        font-size: 7vw;
    }
    
    .tool-desc h6 {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .tool-size {
        font-size: 11vw;
    }

    .tool-desc h5 {
        font-size: 4vmin;
    }
}

